<%- include('../layouts/admin-header.ejs') %>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Create Post</h2>
        <div class="container">
            <form action="" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Title</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="title" placeholder="Enter Post Title" class="w-100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 pt-3 pb-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadmodal">
                            Upload Image
                          </button>
                        <input type="hidden" name="image" id="image">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Content</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea name="content" rows="5" placeholder="Enter Post Content" required class="w-100"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Add post" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
        <%
            if(typeof message !== 'undefined'){
                %>
            <p style="color: green;">
                <%= message %>
            </p>
            <%
            }
        %>
    </div>
    <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <form id="uploadform" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" name="image" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#uploadform').submit(function(event) {
                event.preventDefault();
                $.ajax({
                    url: "/upload-post-image",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                        if (data.success == true) {
                            $('#image').val(data.path);
                            alert(data.msg);
                            $('#uploadmodal').modal('hide');
                        } else {
                            alert(data.msg);
                        }
                    }

                })
            })
        })
    </script>
    <%- include('../layouts/admin-footer.ejs') %>